*,
*::before,
*::after {
  box-sizing: border-box;
  _outline: 1px solid red;
}

html {
  font-size: 16px;
}

body {
  background-color: rgb(107, 112, 143);
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 80px auto;
  gap: 20px;
}

@media (min-width: 1000px) {
  body {
    margin: 140px auto;
  }
}

.page {
  display: flex;
  flex-direction: column;
}

.page--hidden {
  display: none;
}
