.card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  padding: 30px;
  gap: 15px;
  background-color: rgb(221, 221, 221);
  font-weight: 300;
  border-radius: 10px;
  border: 1px solid rgb(95, 93, 105);
  box-shadow: 7px 3px 13px 0px rgba(0, 0, 0, 0.1);
}

.card__bookmark {
  background-image: url("/images/lesezeichen-96.png ");
  width: 50px;
  height: 50px;
  background-size: 50px;
  background-position: center;
  position: absolute;
  top: -1.3rem;
  right: 2rem;
}

.card__bookmark--set {
  background-image: url("/images/lesezeichen-96\ white.png ");
}

h2 {
  margin: -10px 0 0 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: rgb(119, 119, 119);
}

.card__question {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px 0;
  font-family: Poppins;
  color: rgb(87, 85, 85);
}

.card__answer {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px 0;
  font-family: Poppins;
  color: rgb(87, 85, 85);
  display: none;
}

.card__answer--visible {
  display: block;
}

.card__tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  justify-content: space-around;
  align-content: center;
  text-align: center;
}

.card__tag {
  background-color: rgb(147, 158, 255);
  padding: 5px 10px;
  border-radius: 5px;
  flex-grow: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
}
