.card {
  padding: 40px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffffce;
  font-weight: 300;
  border-radius: 30px;
  box-shadow: 7px 3px 13px 0px rgba(0, 0, 0, 0.1);
}
